# Python Cookbook 

##### David Beazley & Brian K. Jones

# Capitulo 1
### Estruturas de dados e algoritmos

#### Desmpacotar uma sequência em variáveis separadas

In [6]:
p = (4, 5)
x, y = p
print('x = ', x)
print('y = ', y)

x =  4
y =  5

In [7]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price , date = data

In [8]:
name

'ACME'

In [9]:
shares

50

In [10]:
date

(2012, 12, 21)

In [11]:
date[0]

2012

In [12]:
name, shares, prices, (year, mon, day) = data

In [13]:
name

'ACME'

In [14]:
year

2012

In [15]:
day

21

In [16]:
mon

12

In [17]:
p

(4, 5)

In [18]:
x, y, z = p

ValueError: need more than 2 values to unpack

>O desempacotamento, na verdade, funciona com qualquer objeto que seja iterável.
EX.: Strings, arquivos e geradores

In [19]:
s = 'Hello'

In [20]:
a,b,c,d,e = s

In [21]:
a

'H'

In [22]:
b

'e'

In [23]:
c

'l'

In [24]:
d

'l'

In [25]:
e

'o'

#### Descartar valores no desempacotamento

In [26]:
data

['ACME', 50, 91.1, (2012, 12, 21)]

In [27]:
_, shares, prices = data

ValueError: too many values to unpack (expected 3)

In [28]:
_, shares, prices, _ = data

In [29]:
shares

50

In [30]:
_

(2012, 12, 21)

#### Desempacotar elementos de iteráveis de tamanho  arbitrário

In [31]:
record =('Dave', 'wc@gmail.com', '773-555-1212', '845-895-1987')

In [32]:
name, email, *phones = record

In [33]:
name

'Dave'

In [34]:
email

'wc@gmail.com'

In [35]:
phones

['773-555-1212', '845-895-1987']

In [36]:
*trailing, last = [1,2,3,4,5,6,7,8,9,100]

In [37]:
trailing

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
last

100

In [39]:
trailing, *middle, last = [1,2,3,4,5,6,7,8,9,100]

In [40]:
trailing

1

In [41]:
middle

[2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
last

100

In [43]:
trailing, *middle, *middle_, last = [1,2,3,4,5,6,7,8,9,100]

SyntaxError: two starred expressions in assignment (<ipython-input-43-cdeb015e17f6>, line 1)

In [44]:
records = [
    ('food', 1,2),
    ('bar', 'hello'),
    ('foo', 3, 4)
]

In [45]:
def do_foo(x, y):
    print('foo', 3,4)

def do_bar(s):
    print('bar', s)
    
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)

bar hello
foo 3 4

> ** "Star" unpacking pode combinar com com processo de string como spitting. **

In [46]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')

In [47]:
uname

'nobody'

In [48]:
homedir

'/var/empty'

In [49]:
sh

'/usr/bin/false'

In [50]:
from collections import deque

In [51]:
def search(lines, pattern, history=5):
    previous_line = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_line
        previous_line.append(line)

In [52]:
if __name__ == '__main__':
    with open('somefile.txt') as f:
        for line, prevlines in search(f, 'Python', 5):
            for pline in prevlines:
                print(pline, end='')
            print(line, end='')
            print('_'*20)

Go to the profile of Mybridge
Mybridge
We rank articles for professionals
Apr 26

Python Top 10 Open Source of the Month (v.Apr 2018)
____________________
Mybridge
We rank articles for professionals
Apr 26

Python Top 10 Open Source of the Month (v.Apr 2018)
For the past month, we ranked nearly 250 Python Open Source Projects to pick the Top 10.
____________________
For the past month, we ranked nearly 250 Python Open Source Projects to pick the Top 10.

We compared projects with new or major release during this period. Mybridge AI ranks projects based on a variety of factors to measure its quality for professionals.

Average number of Github stars in this edition: 2,135⭐️
“Watch” Python Top 10 Open Source on Github and get email once a month.
____________________
Open source projects can be useful for programmers. Hope you find an interesting project that inspires you.


Course of the month:

A) Beginners: The Python Bible™ | Everything You Need to Program in Python. [7,140 recommends, 4.6/5 stars]
____________________

Course of the month:

A) Beginners: The Python Bible™ | Everything You Need to Program in Python. [7,140 recommends, 4.6/5 stars]

B) Deep Learning: Complete Guide to TensorFlow for Deep Learning with Python. [3,664 recommends, 4.5/5 stars]
____________________

B) Deep Learning: Complete Guide to TensorFlow for Deep Learning with Python. [3,664 recommends, 4.5/5 stars]


Rank 1
Requests-HTML v0.9: HTML Parsing for Humans (writing Python 3) [7385 stars on Github]. Courtesy of Kenneth Reitz
____________________


……[Using Requests-HTML by Sentdex]

Rank 2
PyTest v3.5: Python framework that makes it easy to write small tests, yet scales to support complex functional testing [2453 stars on Github]. Courtesy of Pytest-dev
____________________

Rank 3
Lector: qt based ebook reader [327 stars on Github]. Courtesy of BasioMeusPuga

Rank 4
Asciinema v2.0: Terminal session recorder built in Python [5491 stars on Github]. Courtesy of Asciinema
____________________

Rank 4
Asciinema v2.0: Terminal session recorder built in Python [5491 stars on Github]. Courtesy of Asciinema

Rank 5
Snips-nlu v0.13: Snips Python library to extract meaning from text [1416 stars on Github]. Courtesy of Snips
____________________

Rank 5
Snips-nlu v0.13: Snips Python library to extract meaning from text [1416 stars on Github]. Courtesy of Snips

Rank 6
Black: The uncompromising Python code formatter [1665 stars on Github]. Courtesy of Łukasz Langa
____________________

Rank 7
Instagram-terminal-news-feed: Instagram in terminal [690 stars on Github]. Courtesy of Bill Cheng

Rank 8
Makesite: Site/blog generator for Python coders. Take full control of your static website/blog generation by writing your own simple, lightweight, and magic-free static site generator in Python [481 stars on Github]. Courtesy of Sunaina Pai
____________________

Rank 8
Makesite: Site/blog generator for Python coders. Take full control of your static website/blog generation by writing your own simple, lightweight, and magic-free static site generator in Python [481 stars on Github]. Courtesy of Sunaina Pai

Rank 9
Twitter-scraper: Scrape the Twitter Frontend API without authentication. Built in Python. [832 stars on Github]. Courtesy of Kenneth Reitz
____________________

Rank 10
Fast-Pandas: Benchmark for different operations in pandas against various dataframe sizes. [667 stars on Github]. Courtesy of M. Mansour


That’s it for Python Monthly Open Source. If you like this curation, read best daily articles based on your programming skills on our website.
____________________


That’s it for Python Monthly Open Source. If you like this curation, read best daily articles based on your programming skills on our website.

Recommend & share..
PythonMachine LearningProgrammingSoftware DevelopmentOpen Source
____________________

##### Fixando lista(queue)

In [53]:
q = deque(maxlen=3)

In [54]:
q.append(1)
q.append(2)
q.append(3)
q.append(4)
q

deque([2, 3, 4])

In [55]:
q.appendleft(5)
q

deque([5, 2, 3])

In [56]:
q.appendleft(6)
q

deque([6, 5, 2])

In [57]:
q.pop()
q

deque([6, 5])

In [58]:
q.append(1)
q.append(2)
q.append(3)
q.append(4)
q.appendleft(5)
q.appendleft(6)
q

deque([6, 5, 2])

In [59]:
q.popleft()
q

deque([5, 2])

##### Pesquisar entre Maiores e menores valores

In [60]:
import heapq

In [61]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [62]:
# Maiores
print(heapq.nlargest(3, nums))

[42, 37, 23]

In [63]:
# Menores
print(heapq.nsmallest(3, nums))

[-4, 1, 2]

In [64]:
portfolio = [
    {'name':
     'IBM', 'shares': 100, 'price': 91.1},
    {'name':
     'AAPL', 'shares': 50, 'price': 543.22},
    {'name':
     'FB', 'shares': 200, 'price': 21.09},
    {'name':
     'HPQ', 'shares': 35, 'price': 31.75},
    {'name':
     'YHOO', 'shares': 45, 'price': 16.35},
    {'name':
     'ACME', 'shares': 75, 'price': 115.65}
    ]

In [65]:
portfolio

[{'name': 'IBM', 'price': 91.1, 'shares': 100},
 {'name': 'AAPL', 'price': 543.22, 'shares': 50},
 {'name': 'FB', 'price': 21.09, 'shares': 200},
 {'name': 'HPQ', 'price': 31.75, 'shares': 35},
 {'name': 'YHOO', 'price': 16.35, 'shares': 45},
 {'name': 'ACME', 'price': 115.65, 'shares': 75}]

In [66]:
cheap =  heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

In [67]:
# 3 menores precos
cheap

[{'name': 'YHOO', 'price': 16.35, 'shares': 45},
 {'name': 'FB', 'price': 21.09, 'shares': 200},
 {'name': 'HPQ', 'price': 31.75, 'shares': 35}]

In [68]:
# 3 maiores precos
expensive

[{'name': 'AAPL', 'price': 543.22, 'shares': 50},
 {'name': 'ACME', 'price': 115.65, 'shares': 75},
 {'name': 'IBM', 'price': 91.1, 'shares': 100}]

## Mapping keys to multiple Values in a Dictionary

> A opção entre Lists ou Sets, depende do uso pretendido. Utilize lists se quiser preservar a ordem de inserção, ou utilize Sets se quiser eliminar itens duplicados e a ordem não for importante.

In [69]:
d = {
    'a' : [1,2,3],
    'b' : [4,5,6]
}

e = {
    'a' : {1,2,3},
    'b' : {4,5,6}
}

In [70]:
d

{'a': [1, 2, 3], 'b': [4, 5, 6]}

In [71]:
e

{'a': {1, 2, 3}, 'b': {4, 5, 6}}

In [72]:
d['a'][1]

2

In [73]:
e['b'][2]

TypeError: 'set' object does not support indexing

 > Para controlar a order dos itens em um dicionário, podemos usar o OrderedDict de collections, ele preserva a order de inserção dos items.

In [74]:
from collections import OrderedDict

In [75]:
dO = OrderedDict()
dO['foo'] = 1
dO['bar'] = 2
dO['spam'] = 3
dO['grok'] = 4

In [76]:
dO

OrderedDict([('foo', 1), ('bar', 2), ('spam', 3), ('grok', 4)])

In [84]:
dn = {}
dn['foo'] = 1
dn['bar'] = 2
dn['spam'] = 3
dn['grok'] = 4

In [85]:
dn

{'bar': 2, 'foo': 1, 'grok': 4, 'spam': 3}

In [86]:
type(dO)

collections.OrderedDict

In [87]:
type(dn)

dict

In [81]:
# Lista com OrderDict
for key in dO:
    print(key, dO[key])

foo 1
bar 2
spam 3
grok 4

In [88]:
# Lista com Dicionário Padrão
for key in dn:
    print(key, dn[key])

grok 4
bar 2
spam 3
foo 1

In [89]:
import json

In [90]:
json.dumps(dO)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

In [91]:
json.dumps(dn)

'{"grok": 4, "bar": 2, "spam": 3, "foo": 1}'

In [92]:
dn['test'] = 5

In [93]:
dn

{'bar': 2, 'foo': 1, 'grok': 4, 'spam': 3, 'test': 5}

In [94]:
json.dumps(dn)

'{"grok": 4, "test": 5, "bar": 2, "spam": 3, "foo": 1}'

> Umm OrdereDict mantém internamente uma lista duplamente ligada que ordena as chaves de acordo com a ordem de inserção. Quando um  novo item for inicialmente inserido, ele será colocado no final dessa lista.

> Esteje ciente de que um OrdereDict tem um tamanho que corresponde a mais do dobro de umm dicionário normal.

##### Fazer cálculos com dicionários

In [95]:
prices = {
    'ACME': 45.23,
    'AAPL': 612.78,
    'IBM' : 205.55,
    'HPQ' : 37.20,
    'FB'  : 10.75
}

In [96]:
min_price = min(zip(prices.values(), prices.keys()))

In [97]:
min_price

(10.75, 'FB')

In [98]:
max_price = max(zip(prices.values(), prices.keys()))

In [99]:
max_price

(612.78, 'AAPL')

In [100]:
prices_sorted = sorted(zip(prices.values(), prices.keys()))

In [101]:
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

In [102]:
prices_and_names = zip(prices.values(), prices.keys())

In [103]:
print(min(prices_and_names))

(10.75, 'FB')

In [104]:
print(min(prices_and_names))

ValueError: min() arg is an empty sequence

> O zip() cria um iterador que pode ser consumido somente uma vez.

In [105]:
min(prices)

'AAPL'

In [106]:
min(prices.values)

TypeError: 'builtin_function_or_method' object is not iterable

In [107]:
min(prices.values())

10.75

In [108]:
min(prices.keys())

'AAPL'

In [109]:
min(prices, key=lambda k: prices[k])

'FB'

In [110]:
min_value = prices[min(prices, key=lambda k: prices[k])]

In [111]:
min_value

10.75

###### Encontrar itens comuns em dois dicionários

> Dicionários suportam operações comuns de conjuntos

In [112]:
a = {
    'x': 1,
    'y': 2,
    'z': 3,
}

b = {
    'w': 10,
    'x': 11,
    'y': 2
}

In [113]:
# Encontrar chaves em comum
a.keys() & b.keys()

{'x', 'y'}

In [114]:
a.keys() - b.keys()

{'z'}

In [115]:
# Encontrar pares (key,values) em comum
a.items() & b.items()

{('y', 2)}

##### Remover itens duplicados de uma sequêmcia, preservando a ordem

In [116]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [117]:
a = [1,5,2,1,9,1,5,10]

In [118]:
list(dedupe(a))

[1, 5, 2, 9, 10]

In [119]:
a

[1, 5, 2, 1, 9, 1, 5, 10]

In [120]:
set(a)

{1, 2, 5, 9, 10}

##### Dar nome a uma fatia(slice)

In [121]:
######    0123456789012345678901234567890123456789012345678901234567890'
record = '....................100          .......513.25    ..........'

cost = int(record[20:32]) * float(record[40:48])

In [122]:
cost

51325.0

In [123]:
# Vamos agora dar nomes aos slices
SHARES = slice(20,32)
PRICE = slice(40,48)

In [125]:
cost = int(record[SHARES]) * float(record[PRICE])

In [126]:
cost

51325.0

In [127]:
a = slice(2,3)

In [128]:
a

slice(2, 3, None)

In [129]:
type(a)

slice

##### Determinar os itens que ocorrem mais frequentemente em uma sequência

In [130]:
from collections import Counter

In [131]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [140]:
#### word_counts = Counter(words)
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [141]:
# min_price = min(zip(prices.values(), prices.keys()))
word_counts.most_common(3)

[('eyes', 8), ('the', 5), ('look', 4)]

In [143]:
print(word_counts['yes'])
print(word_counts['eyes'])
print(word_counts['the'])

0
8
5

In [144]:
 morewords = ['why','are','you','not','looking','in','my','eyes']

In [145]:
a = Counter(words)
b = Counter(morewords)

In [146]:
c = a + b

In [149]:
a

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [148]:
b

Counter({'are': 1,
         'eyes': 1,
         'in': 1,
         'looking': 1,
         'my': 1,
         'not': 1,
         'why': 1,
         'you': 1})

In [147]:
c

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [150]:
a - b

Counter({'around': 2,
         "don't": 1,
         'eyes': 7,
         'into': 3,
         'look': 4,
         'my': 2,
         'the': 5,
         'under': 1,
         "you're": 1})

###### Ordenar uma lista de dicionários por meio de uma chave comum

In [152]:
rows = [
{'fname':
 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname':
 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname':
 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname':
 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [153]:
from operator import itemgetter

In [159]:
from pprint import pprint

In [173]:
rows_by_frame = sorted(rows, key=itemgetter('fname'))
rows_by_uid =  sorted(rows, key=itemgetter('uid'))

pprint(rows_by_frame)
print("\nUID\n")
pprint(rows_by_uid)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

UID

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

##### Agrupar registros de acordo com um grupo

In [1]:
rows = [
    {'address':  '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [9]:
from operator import itemgetter
from itertools import groupby
from pprint import pprint

In [16]:
# Ordenando pelo campo
rows.sort(key=itemgetter('date'))

pprint(rows)

[{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'}]

In [52]:
# Interações pelo grupo

for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print('    ', i)

07/01/2012
     {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
     {'address': '5412 N CLARK', 'date': '07/01/2012'}
07/02/2012
     {'address': '1060 W ADDISON', 'date': '07/02/2012'}
     {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
     {'address': '5800 E 58TH', 'date': '07/02/2012'}
07/03/2012
     {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
     {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}
     {'address': '5148 N CLARK', 'date': '07/04/2012'}

In [21]:
from collections import defaultdict

In [65]:
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

In [54]:
rows_by_date

defaultdict(list,
            {'07/01/2012': [{'address': '4801 N BROADWAY',
               'date': '07/01/2012'},
              {'address': '5412 N CLARK', 'date': '07/01/2012'}],
             '07/02/2012': [{'address': '1060 W ADDISON',
               'date': '07/02/2012'},
              {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
              {'address': '5800 E 58TH', 'date': '07/02/2012'}],
             '07/03/2012': [{'address': '2122 N CLARK', 'date': '07/03/2012'}],
             '07/04/2012': [{'address': '1039 W GRANVILLE',
               'date': '07/04/2012'},
              {'address': '5148 N CLARK', 'date': '07/04/2012'}]})

In [67]:
for i in rows_by_date:
    print(i)
    for j in rows_by_date[i]:
        print('    ', j)

07/01/2012
     {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
     {'address': '5412 N CLARK', 'date': '07/01/2012'}
07/03/2012
     {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/02/2012
     {'address': '1060 W ADDISON', 'date': '07/02/2012'}
     {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
     {'address': '5800 E 58TH', 'date': '07/02/2012'}
07/04/2012
     {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}
     {'address': '5148 N CLARK', 'date': '07/04/2012'}

##### Filtrar elementos de uma sequência

In [68]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [69]:
[n for n in mylist if n < 0]

[-5, -7, -1]

In [70]:
values = ['1', '2', '3', '-', '4', 'N/A', '5']

In [74]:
# Filtrando por exeção.

def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False
    
ivals = list(filter(is_int, values))
print(ivals)

['1', '2', '3', '4', '5']

In [2]:
addresses  = ['5412 N CLARK',
              '5148 N CLARK',
              '5800 E 58TH',
              '2122 N CLARK',
              '5645 N RAVENSWOOD',
              '1060 W ADDISON',
              '4801 N BROADWAY',
              '1039 W GRANVILLE',
             ]

counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [3]:
from itertools import compress

In [5]:
more5 = [n > 5 for n in counts]
more5

[False, False, True, False, False, True, True, False]

In [6]:
list(compress(addresses, more5))

['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

##### 1.17 Extrair um subconjunto de um dicionário

In [11]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In [13]:
p1 = {key:value for key, value in prices.items() if value > 200}
p1

{'AAPL': 612.78, 'IBM': 205.55}

##### 1.18 Mapear nomes a elementos de sequência - NamedTuple

In [1]:
from collections import namedtuple

In [2]:
Subscriber = namedtuple('Subscriber', ['addr', 'joined'])
sub = Subscriber('jonesy@exemplo.com', '2012-19-02')
sub

Subscriber(addr='jonesy@exemplo.com', joined='2012-19-02')

In [3]:
sub.addr

'jonesy@exemplo.com'

In [4]:
sub.joined

'2012-19-02'

In [5]:
len(sub)

2

In [6]:
addr, joined = sub

In [7]:
addr

'jonesy@exemplo.com'

In [7]:
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])

#Create a prototype instance
stock_prototype = Stock('', 0, 0.0, None, None)

In [3]:
#Function to convert a dictionary to a Stock
def dict_to_stock(s):
    return stock_prototype._replace(**s)

In [5]:
a = {'name': 'ACME', 'shares': 100, 'price': 123.45}
b = {'name': 'ACME', 'shares': 100, 'price': 123.45, 'date': '12/17/2012'}

In [8]:
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [9]:
dict_to_stock(b)

Stock(name='ACME', shares=100, price=123.45, date='12/17/2012', time=None)

##### 1.19 - Tranformar e reduzir dados ao mesmo tempo

Combinado uma redução de dados e uma transformação utilizando argumento que corresponde uma expressão geradora.

In [3]:
nums = [1,2,3,4,5]
s = sum(x * x for x in nums)
print(s)

55

In [8]:
# Determinar se algum arquivo '.py' existe em um diretório
import os

files = os.listdir('.')
if any(name.endswith('.py') for name in files):
    print('Aqui tem python !')
else:
    print('sniffff no python!?!?!?!')

Aqui tem python !

In [9]:
# Apresentar uma Tupla como CSV

s = ("ACME", 50, 123.456)
print(','.join(str(x) for x in s))

ACME,50,123.456

In [10]:
portfolio = [{'name': 'GOOG', 'shares':50},
             {'name': 'YHOO', 'shares':75},
             {'name': 'AOL', 'shares':20},
             {'name': 'SCOX', 'shares':65},]

In [15]:
min_shares = min(s['shares'] for s in portfolio)
print(min_shares)

20

In [16]:
min_shares = min(portfolio, key=lambda s: s['shares'])
print(min_shares)

{'name': 'AOL', 'shares': 20}

#####  1.20. Combining Multiple Mappings into a Single Mapping

In [17]:
a = {'x': 1, 'z': 4 }
b = {'y': 2, 'z': 3 }

In [12]:
from collections import ChainMap

In [19]:
c = ChainMap(a,b)

c

ChainMap({'x': 1, 'z': 4}, {'y': 2, 'z': 3})

In [21]:
print(c['z'], c['y'])

4 2

In [22]:
len(c)

3

In [23]:
list(c.keys())

['z', 'y', 'x']

In [24]:
list(c.values())

[4, 2, 1]

> Se houver chaves duplicadas será considerada a primeira